# MADS SIADS 591 Milestone 1 Project.

In [1]:
# Python module. 
import os, re, scipy 
import datetime as dt
import numpy as np 
import pandas as pd 
import pandas_datareader as pdr
import exchange_calendars as xcals
import yfinance as yf 

# Change the current directory from (./notebook) to root directory. 
os.chdir("..") 

# Custom module. 
from config.config import DATASET_DIR, TICKER_DATE_COLLECT 

# Create the directory if it doesn't exist. 
if not os.path.exists(DATASET_DIR):
    os.makedirs(DATASET_DIR) 

# For clearing safe warnings. Not important. 
from IPython.core.display import clear_output
clear_output()

## Configurations (general).

In [2]:
# Pandas DF config. 
pd.set_option("display.max_rows", 50, "display.max_columns", 50, "display.max_colwidth", 200)

# For clearing the output. Not important. 
clear_output()

# Data Collecting.

## Collect & Consolidate Tickers.

In [3]:
ticker_names = [
	"XLF", "XHB", "XLK", "XLY", "XLP", 
	"XRT", "XLI", "XLB", "XTL", "XLU", 
] 

# Initiate an empty dataframe to consolidate all the ticker data. 
df_tickers = pd.DataFrame() 

# Consolidate all tickers into a single dataframe. 
for t in ticker_names: 
	# Read the data. 
	ticker = yf.Ticker(t) 
	ticker = ticker.history(period="max", interval="1d", start=TICKER_DATE_COLLECT[0], end=TICKER_DATE_COLLECT[1], auto_adjust=True, rounding=True) 

	# Add a column to indicate the ticker name. 
	ticker["ticker"] = t

	# Concat the data into a long table format in (pd.DataFrame) object. 
	df_tickers = pd.concat([df_tickers, ticker]) 

# Reset the index. 
df_tickers = df_tickers.reset_index(drop=False) 

# Convert column to lowercase. 
df_tickers.columns = [c.lower() for c in df_tickers.columns] 

# Preview. 
df_tickers

,date,open,high,low,close,volume,dividends,stock splits,ticker
0,1998-12-22,12.09,12.09,11.97,12.02,55887,0.0,0.0,XLF
1,1998-12-23,11.97,12.20,11.97,12.20,78784,0.0,0.0,XLF
2,1998-12-24,12.20,12.28,12.16,12.28,43824,0.0,0.0,XLF
3,1998-12-28,12.27,12.27,12.09,12.12,51948,0.0,0.0,XLF
4,1998-12-29,12.13,12.25,11.99,12.25,100819,0.0,0.0,XLF
...,...,...,...,...,...,...,...,...,...
51127,2021-12-10,68.52,68.94,68.25,68.61,11701800,0.0,0.0,XLU
51128,2021-12-13,68.54,69.79,68.54,69.45,13750000,0.0,0.0,XLU
51129,2021-12-14,69.44,69.58,68.71,69.04,17502500,0.0,0.0,XLU
51130,2021-12-15,68.96,70.23,68.96,70.17,22682300,0.0,0.0,XLU
51131,2021-12-16,70.10,70.95,70.04,70.53,15104600,0.0,0.0,XLU

## Collect & Consolidate VIX Data.

In [4]:

# Collect VIX data to merge with the cosolidated data. 
vix = yf.Ticker("^VIX") 
vix = vix.history(period="max", interval="1d", start=TICKER_DATE_COLLECT[0], end=TICKER_DATE_COLLECT[1], auto_adjust=True, rounding=True) 

# Process columns. 
vix = vix[["Open", "Close"]] 
vix.columns = [f"vix_{c}".lower() for c in vix.columns] 

# Minus the open, high, low, close with the threshold. If the value 
# exceeds the threshold, that means traders assume the future price 
# movement could be more volatile. Vice versa. VIX is also known as 
# a fear indicator. 

# Default the VIX threshold to 18, but need to make it configurable. 
vix_threshold = 18
for c in vix.columns: 
	vix[f"{c}_minus_thresh"] = vix[c] - vix_threshold 

# Compute VIX change between the previous and current day close. 
vix["vix_chg_c2c"] = vix["vix_close"].pct_change(1)

## Merge With Ticker Data.

In [5]:
# Merge VIX with the ticker data. 
df_tickers = df_tickers.merge(right=vix, how="left", left_on="date", right_on="Date", validate="many_to_one") 

# Preview. 
df_tickers

,date,open,high,low,close,volume,dividends,stock splits,ticker,vix_open,vix_close,vix_open_minus_thresh,vix_close_minus_thresh
0,1998-12-22,12.09,12.09,11.97,12.02,55887,0.0,0.0,XLF,24.05,22.78,6.05,4.78
1,1998-12-23,11.97,12.20,11.97,12.20,78784,0.0,0.0,XLF,21.89,20.21,3.89,2.21
2,1998-12-24,12.20,12.28,12.16,12.28,43824,0.0,0.0,XLF,21.00,21.48,3.00,3.48
3,1998-12-28,12.27,12.27,12.09,12.12,51948,0.0,0.0,XLF,22.92,23.50,4.92,5.50
4,1998-12-29,12.13,12.25,11.99,12.25,100819,0.0,0.0,XLF,23.68,22.18,5.68,4.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51127,2021-12-10,68.52,68.94,68.25,68.61,11701800,0.0,0.0,XLU,21.27,18.69,3.27,0.69
51128,2021-12-13,68.54,69.79,68.54,69.45,13750000,0.0,0.0,XLU,19.29,20.31,1.29,2.31
51129,2021-12-14,69.44,69.58,68.71,69.04,17502500,0.0,0.0,XLU,19.67,21.89,1.67,3.89
51130,2021-12-15,68.96,70.23,68.96,70.17,22682300,0.0,0.0,XLU,21.60,19.29,3.60,1.29
51131,2021-12-16,70.10,70.95,70.04,70.53,15104600,0.0,0.0,XLU,18.56,20.57,0.56,2.57

## Save Consolidated Ticker Data.

In [6]:
# Save the dataframe into CSV. 
filepath = os.path.join(DATASET_DIR, "sector_price_history_processed_stg_1.csv") 
df_tickers.to_csv(filepath, index=False)

# Data Preparation.

## Read The Ticker Data.

In [7]:
# Read the data. 
filepath = os.path.join(DATASET_DIR, "sector_price_history_processed_stg_1.csv") 
df_tickers = pd.read_csv(filepath) 

# Preview. 
df_tickers

,date,open,high,low,close,volume,dividends,stock splits,ticker,vix_open,vix_close,vix_open_minus_thresh,vix_close_minus_thresh
0,1998-12-22,12.09,12.09,11.97,12.02,55887,0.0,0.0,XLF,24.05,22.78,6.05,4.78
1,1998-12-23,11.97,12.20,11.97,12.20,78784,0.0,0.0,XLF,21.89,20.21,3.89,2.21
2,1998-12-24,12.20,12.28,12.16,12.28,43824,0.0,0.0,XLF,21.00,21.48,3.00,3.48
3,1998-12-28,12.27,12.27,12.09,12.12,51948,0.0,0.0,XLF,22.92,23.50,4.92,5.50
4,1998-12-29,12.13,12.25,11.99,12.25,100819,0.0,0.0,XLF,23.68,22.18,5.68,4.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51127,2021-12-10,68.52,68.94,68.25,68.61,11701800,0.0,0.0,XLU,21.27,18.69,3.27,0.69
51128,2021-12-13,68.54,69.79,68.54,69.45,13750000,0.0,0.0,XLU,19.29,20.31,1.29,2.31
51129,2021-12-14,69.44,69.58,68.71,69.04,17502500,0.0,0.0,XLU,19.67,21.89,1.67,3.89
51130,2021-12-15,68.96,70.23,68.96,70.17,22682300,0.0,0.0,XLU,21.60,19.29,3.60,1.29
51131,2021-12-16,70.10,70.95,70.04,70.53,15104600,0.0,0.0,XLU,18.56,20.57,0.56,2.57

## Read The Economic Report Data.

In [8]:
# Read the data. 
filepath = os.path.join(DATASET_DIR, "economic_reported_date.csv") 
df_econ_reportdate = pd.read_csv(filepath) 

# Store the column names in a list. 
economic_report_names = df_econ_reportdate.columns.to_list() 

# Preview. Some columns are weekly economic reports which is 
# why they have a lot more dates than the rest. 
df_econ_reportdate

,non_farm_employment_adp_mom,non_farm_employment_mom,unemployment_claims,unemployment_rate,avg_hourly_earnings_mom,personal_dispensable_income_mom,personal_consumption_mom,ism_pmi_manufacturer,ism_pmi_services,chicago_pmi,industry_production_mom,phil_fed_manufacturer,capacity_utilisation,manufacturer_new_order_mom,manufacturer_new_order_ex_trans_mom,retail_sales_ex_auto_mom,retail_sales_mom,producer_ppi_mom,producer_ppi_ex_food_energy_mom,consumer_cpi_mom,consumer_cpi_ex_food_energy_mom,pce_ex_food_energy_mom,housing_hpi_mom,building_permit,housing_starts,new_home_sales,gdp_us,gdp_advance_us,crude_oil_inventory,natural_gas_inventory,fomc_presscf,fomc_minutes,opec,opec_jmmc
0,2007-01-03,2007-01-05,2007-01-04,2007-01-05,2007-01-05,2007-02-01,2007-02-01,2007-01-03,2007-01-04,2007-01-31,2007-01-17,2007-01-19,2007-01-17,2007-01-26,2007-01-26,2007-01-12,2007-01-12,2007-01-17,2007-01-17,2007-01-18,2007-01-18,2007-02-01,2008-03-25,2007-01-18,2007-01-18,2007-01-26,2007-03-29,2007-01-31,2007-01-04,2007-01-05,2011-04-28,2007-01-04,2007-03-15,2017-01-22
1,2007-01-31,2007-02-02,2007-01-11,2007-02-02,2007-02-02,2007-03-01,2007-03-01,2007-02-01,2007-02-05,2007-02-28,2007-02-15,2007-02-16,2007-02-15,2007-02-27,2007-02-27,2007-02-14,2007-02-14,2007-02-16,2007-02-16,2007-02-21,2007-02-21,2007-03-01,2008-04-22,2007-02-16,2007-02-16,2007-02-28,2007-06-28,2007-04-27,2007-01-10,2007-01-11,2011-06-23,2007-02-22,2007-09-11,2017-02-24
2,2007-03-07,2007-03-09,2007-01-18,2007-03-09,2007-03-09,2007-03-30,2007-03-30,2007-03-01,2007-03-05,2007-03-30,2007-03-16,2007-03-16,2007-03-16,2007-03-28,2007-03-28,2007-03-13,2007-03-13,2007-03-15,2007-03-15,2007-03-16,2007-03-16,2007-03-30,2008-05-22,2007-03-20,2007-03-20,2007-03-26,2007-09-27,2007-07-27,2007-01-18,2007-01-18,2011-11-03,2007-04-12,2007-12-05,2017-03-26
3,2007-04-04,2007-04-06,2007-01-25,2007-04-06,2007-04-06,2007-04-30,2007-04-30,2007-04-02,2007-04-04,2007-04-30,2007-04-17,2007-04-20,2007-04-17,2007-04-25,2007-04-25,2007-04-16,2007-04-16,2007-04-13,2007-04-13,2007-04-17,2007-04-17,2007-04-30,2008-06-24,2007-04-17,2007-04-17,2007-04-25,2007-12-20,2007-10-31,2007-01-24,2007-01-25,2012-01-26,2007-05-31,2008-02-01,2017-04-28
4,2007-05-02,2007-05-04,2007-02-01,2007-05-04,2007-05-04,2007-06-01,2007-06-01,2007-05-01,2007-05-03,2007-05-31,2007-05-16,2007-05-18,2007-05-16,2007-05-24,2007-05-24,2007-05-11,2007-05-11,2007-05-11,2007-05-11,2007-05-15,2007-05-15,2007-06-01,2008-07-22,2007-05-16,2007-05-16,2007-05-24,2008-03-27,2008-01-30,2007-01-31,2007-02-01,2012-04-26,2007-07-20,2008-03-05,2017-05-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,NaN,NaN,2021-11-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-17,2021-11-18,NaN,NaN,NaN,NaN
777,NaN,NaN,2021-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-24,2021-11-25,NaN,NaN,NaN,NaN
778,NaN,NaN,2021-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-01,2021-12-02,NaN,NaN,NaN,NaN
779,NaN,NaN,2021-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-08,2021-12-09,NaN,NaN,NaN,NaN
780,NaN,NaN,2021-12-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-15,2021-12-16,NaN,NaN,NaN,NaN

## Read The Event Dates.

In [9]:
# I have identified the dates for each event using Julia (programming language) 
# previously and saved them in CSV. I own the Julia source code (belongs to me). 
# It is extremely cumbersome to calculate the date pattern in Python. 

# Refer to "Mark The Dates For Each Event ((With Python)" section in this notebook. 
# Inaccurate dates will occur starting from 2030. Plus, difficult to provide customised 
# date pattern. I haven't discover another library that can do that conveniently. 

filenames = ["event_dates_ext.csv", "firsttrdrday_ofmonth.csv", "santa_rally.csv", "triple_witching_week.csv"] 
df_event_dates = pd.DataFrame() 

# Read the data and consolidate all the event dates. 
for filename in filenames: 
	# Read the data.
	filepath = os.path.join(DATASET_DIR, filename) 
	event_dates = pd.read_csv(filepath) 

	# Sort the dates. Just to ensure it's in order. 
	event_dates = event_dates.sort_values(by=event_dates.columns.to_list()) 

	# Concat the dataframe. 
	df_event_dates = pd.concat([df_event_dates, event_dates], axis="columns") 

# Store the column names in a list. 
event_names = df_event_dates.columns.to_list() 

# Preview. 
df_event_dates

,black_friday,christmas,columbus,cyber_monday,good_friday,labor,martin_lut_king,new_year,thanksgiving,us_event_sep11,us_independence,us_memorial,us_president,us_veterans,valentine,firsttrdrday_ofmonth,santa_rally,tww_trdrday
0,1998-11-27,1998-12-25,1998-10-12,1998-11-30,1998-04-10,1998-09-07,1998-01-19,1998-01-01,1998-11-26,1998-09-11,1998-07-04,1998-05-25,1998-02-16,1998-11-11,1998-02-14,1998-01-02,1997-12-31,1998-03-16
1,1998-11-25,1998-12-24,1998-10-09,1998-11-27,1998-04-09,1998-09-04,1998-01-16,1997-12-31,1998-11-25,1998-09-10,1998-07-02,1998-05-22,1998-02-13,1998-11-10,1998-02-13,1998-02-02,1997-12-30,1998-03-17
2,1998-11-30,1998-12-28,1998-10-13,1998-12-01,1998-04-13,1998-09-08,1998-01-20,1998-01-02,1998-11-27,1998-09-14,1998-07-06,1998-05-26,1998-02-17,1998-11-12,1998-02-17,1998-03-02,1997-12-29,1998-03-18
3,1998-11-24,1998-12-23,1998-10-08,1998-11-25,1998-04-08,1998-09-03,1998-01-15,1997-12-30,1998-11-24,1998-09-09,1998-07-01,1998-05-21,1998-02-12,1998-11-09,1998-02-12,1998-04-01,1997-12-26,1998-03-19
4,1998-12-01,1998-12-29,1998-10-14,1998-12-02,1998-04-14,1998-09-09,1998-01-21,1998-01-05,1998-11-30,1998-09-15,1998-07-07,1998-05-27,1998-02-18,1998-11-13,1998-02-18,1998-05-01,1997-12-24,1998-03-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030-12-20
1279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030-12-23
1280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030-12-24
1281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030-12-26
1282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030-12-27

In [10]:
# Read the data. 
filepath = os.path.join(DATASET_DIR, "economic_reported_data.csv") 
df_econ_report = pd.read_csv(filepath) 

# Preview. 
df_econ_report

,econ_forecast,frequency,timestamp,reported,forecast,reported_prev,abv_forecast,forecast_dif,abv_zero
0,non_farm_employment_adp_mom,monthly,2007-01-03,-4.000000e+04,1.200000e+05,2.300000e+05,0,-1.600000e+05,0
1,non_farm_employment_adp_mom,monthly,2007-01-31,1.520000e+05,1.350000e+05,1.470000e+05,1,1.700000e+04,1
2,non_farm_employment_adp_mom,monthly,2007-03-07,5.700000e+04,1.000000e+05,1.210000e+05,0,-4.300000e+04,1
3,non_farm_employment_adp_mom,monthly,2007-04-04,1.060000e+05,1.250000e+05,6.500000e+04,0,-1.900000e+04,1
4,non_farm_employment_adp_mom,monthly,2007-05-02,6.400000e+04,1.070000e+05,9.800000e+04,0,-4.300000e+04,1
...,...,...,...,...,...,...,...,...,...
6932,natural_gas_inventory,weekly,2021-11-18,2.600000e+10,2.500000e+10,7.000000e+09,1,1.000000e+09,1
6933,natural_gas_inventory,weekly,2021-11-25,-2.100000e+10,-2.300000e+10,2.600000e+10,1,2.000000e+09,0
6934,natural_gas_inventory,weekly,2021-12-02,-5.900000e+10,-5.900000e+10,-2.100000e+10,1,0.000000e+00,0
6935,natural_gas_inventory,weekly,2021-12-09,-5.900000e+10,-6.000000e+10,-5.900000e+10,1,1.000000e+09,0
6936,natural_gas_inventory,weekly,2021-12-16,-8.800000e+10,-8.500000e+10,-5.900000e+10,0,-3.000000e+09,0

## Read The News Headlines.

In [11]:
# Read the data. 
filepath = os.path.join(DATASET_DIR, "raw_partner_headlines.csv") 
df_news_headlines = pd.read_csv(filepath, usecols=["date", "publisher", "headline"]) 

# Preview. 
df_news_headlines

,headline,publisher,date
0,Agilent Technologies Announces Pricing of $5â€¦â€¦ Million of Senior Notes,GuruFocus,2020-06-01 00:00:00
1,Agilent (A) Gears Up for Q2 Earnings: What's in the Cards?,Zacks,2020-05-18 00:00:00
2,J.P. Morgan Asset Management Announces Liquidation of Six Exchange-Traded Funds,GuruFocus,2020-05-15 00:00:00
3,"Pershing Square Capital Management, L.P. Buys Agilent Technologies Inc, The Howard Hughes Corp, ...",GuruFocus,2020-05-15 00:00:00
4,Agilent Awards Trilogy Sciences with a Golden Ticket at LabCentral,GuruFocus,2020-05-12 00:00:00
...,...,...,...
1845554,Consumer Cyclical Sector Wrap,webmaster,2012-08-20 00:00:00
1845555,Consumer Cyclical Sector Wrap,webmaster,2012-07-23 00:00:00
1845556,Zacks #5 Rank Additions for Monday - Tale of the Tape,Zacks,2012-04-23 00:00:00
1845557,4 Stock Strategies From Wall Street: Feb. 9 (Update 1),TheStreet.Com,2012-02-09 00:00:00
1845558,4 Stock Strategies From Wall Street: Feb. 9,webmaster,2012-02-09 00:00:00

# Data Processing.

## Compute Price Change.

In [12]:
# We will be computing 3 types of price difference. 2nd option is not a must but just 
# want to compare the difference between open and closing market. 

# 1. Gapping / Close market price change. Difference between previous day 
# 	 closing price and current day open price. 
# 2. Open market price change. Difference between current day open and closing price. 
# 3. Daily price change. Difference between previous day and current day closing price. 

# 1. price_chg_close_to_open
prev_close = df_tickers["close"].shift(1)
df_tickers["price_chg_c2o"] = (df_tickers["open"] - prev_close) / prev_close 

# 2. price_chg_open_to_close
df_tickers["price_chg_o2c"] = (df_tickers["close"] - df_tickers["open"]) / df_tickers["open"] 

# 3. price_chg_close_to_close
df_tickers["price_chg_c2c"] = df_tickers["close"].pct_change(1) 

# Preview. 
df_tickers

,date,open,high,low,close,volume,dividends,stock splits,ticker,vix_open,vix_close,vix_open_minus_thresh,vix_close_minus_thresh,price_chg_c2o,price_chg_o2c,price_chg_c2c
0,1998-12-22,12.09,12.09,11.97,12.02,55887,0.0,0.0,XLF,24.05,22.78,6.05,4.78,NaN,-0.005790,NaN
1,1998-12-23,11.97,12.20,11.97,12.20,78784,0.0,0.0,XLF,21.89,20.21,3.89,2.21,-0.004160,0.019215,0.014975
2,1998-12-24,12.20,12.28,12.16,12.28,43824,0.0,0.0,XLF,21.00,21.48,3.00,3.48,0.000000,0.006557,0.006557
3,1998-12-28,12.27,12.27,12.09,12.12,51948,0.0,0.0,XLF,22.92,23.50,4.92,5.50,-0.000814,-0.012225,-0.013029
4,1998-12-29,12.13,12.25,11.99,12.25,100819,0.0,0.0,XLF,23.68,22.18,5.68,4.18,0.000825,0.009893,0.010726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51127,2021-12-10,68.52,68.94,68.25,68.61,11701800,0.0,0.0,XLU,21.27,18.69,3.27,0.69,0.004103,0.001313,0.005422
51128,2021-12-13,68.54,69.79,68.54,69.45,13750000,0.0,0.0,XLU,19.29,20.31,1.29,2.31,-0.001020,0.013277,0.012243
51129,2021-12-14,69.44,69.58,68.71,69.04,17502500,0.0,0.0,XLU,19.67,21.89,1.67,3.89,-0.000144,-0.005760,-0.005904
51130,2021-12-15,68.96,70.23,68.96,70.17,22682300,0.0,0.0,XLU,21.60,19.29,3.60,1.29,-0.001159,0.017546,0.016367
51131,2021-12-16,70.10,70.95,70.04,70.53,15104600,0.0,0.0,XLU,18.56,20.57,0.56,2.57,-0.000998,0.006134,0.005130

## Compute Rolling Median Volume & Volume Difference To Rolling Median.

In [13]:
# Compute the 3 months rolling median volume. 
cols = ["volume"] 
df_tickers["volume_rollmed"] = df_tickers[cols].rolling(window=90, min_periods=90, win_type=None).median() 

# Compute the difference between each volume with the 3 months rolling median volume. 
df_tickers["volume_diff_to_med"] = df_tickers["volume"] - df_tickers["volume_rollmed"] 

# Compute the percent change from the 3 months rolling median volume. Comparing 
# percent change between each period is easier than looking at the difference. 
df_tickers["volume_pchg_from_med"] = df_tickers["volume_diff_to_med"] / df_tickers["volume_rollmed"] 

# Preview. 
df_tickers

,date,open,high,low,close,volume,dividends,stock splits,ticker,vix_open,vix_close,vix_open_minus_thresh,vix_close_minus_thresh,price_chg_c2o,price_chg_o2c,price_chg_c2c,volume_rollmed,volume_diff_to_med,volume_pchg_from_med
0,1998-12-22,12.09,12.09,11.97,12.02,55887,0.0,0.0,XLF,24.05,22.78,6.05,4.78,NaN,-0.005790,NaN,NaN,NaN,NaN
1,1998-12-23,11.97,12.20,11.97,12.20,78784,0.0,0.0,XLF,21.89,20.21,3.89,2.21,-0.004160,0.019215,0.014975,NaN,NaN,NaN
2,1998-12-24,12.20,12.28,12.16,12.28,43824,0.0,0.0,XLF,21.00,21.48,3.00,3.48,0.000000,0.006557,0.006557,NaN,NaN,NaN
3,1998-12-28,12.27,12.27,12.09,12.12,51948,0.0,0.0,XLF,22.92,23.50,4.92,5.50,-0.000814,-0.012225,-0.013029,NaN,NaN,NaN
4,1998-12-29,12.13,12.25,11.99,12.25,100819,0.0,0.0,XLF,23.68,22.18,5.68,4.18,0.000825,0.009893,0.010726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51127,2021-12-10,68.52,68.94,68.25,68.61,11701800,0.0,0.0,XLU,21.27,18.69,3.27,0.69,0.004103,0.001313,0.005422,11464750.0,237050.0,0.020676
51128,2021-12-13,68.54,69.79,68.54,69.45,13750000,0.0,0.0,XLU,19.29,20.31,1.29,2.31,-0.001020,0.013277,0.012243,11464750.0,2285250.0,0.199328
51129,2021-12-14,69.44,69.58,68.71,69.04,17502500,0.0,0.0,XLU,19.67,21.89,1.67,3.89,-0.000144,-0.005760,-0.005904,11547800.0,5954700.0,0.515657
51130,2021-12-15,68.96,70.23,68.96,70.17,22682300,0.0,0.0,XLU,21.60,19.29,3.60,1.29,-0.001159,0.017546,0.016367,11639400.0,11042900.0,0.948752
51131,2021-12-16,70.10,70.95,70.04,70.53,15104600,0.0,0.0,XLU,18.56,20.57,0.56,2.57,-0.000998,0.006134,0.005130,11746100.0,3358500.0,0.285925

## Compute Bollinger Band & Z-score.

In [14]:
# Refer to this link to understand what Bollinger Band is and its formula. 
# https://www.investopedia.com/terms/b/bollingerbands.asp

# We will use 360 days for the rolling window. If the window is too short, 
# the average price could fluctuate higher or lower. We can't use median 
# because we need to calculate t-score. 

# Compute the rolling average and standard deviation. 
tp =  (df_tickers["close"] + df_tickers["low"] + df_tickers["high"]) / 3 
tp_rollavg = tp.rolling(window=360, min_periods=90, win_type=None).mean() 
tp_rollstd = tp.rolling(window=360, min_periods=90, win_type=None).std(ddof=0) 

# Compute Bollinger Band. 
n_std = 2 
df_tickers["bo_upper"] = tp_rollavg + n_std * tp_rollstd 
df_tickers["bo_lower"] = tp_rollavg - n_std * tp_rollstd 

# Compute the z-score using closing price and Bollinger Band. 
df_tickers["zscore_bo"] = (df_tickers["close"] - tp_rollavg) / tp_rollstd 

# Compute the z-score for price change. 
price_chg_c2o_rollavg = df_tickers["price_chg_c2o"].rolling(window=360, min_periods=90, win_type=None).mean() 
price_chg_o2c_rollavg = df_tickers["price_chg_o2c"].rolling(window=360, min_periods=90, win_type=None).mean() 
price_chg_c2c_rollavg = df_tickers["price_chg_c2c"].rolling(window=360, min_periods=90, win_type=None).mean() 

price_chg_c2o_rollstd = df_tickers["price_chg_c2o"].rolling(window=360, min_periods=90, win_type=None).std(ddof=0) 
price_chg_o2c_rollstd = df_tickers["price_chg_o2c"].rolling(window=360, min_periods=90, win_type=None).std(ddof=0) 
price_chg_c2c_rollstd = df_tickers["price_chg_c2c"].rolling(window=360, min_periods=90, win_type=None).std(ddof=0) 

df_tickers["zscore_c2o"] = (df_tickers["price_chg_c2o"] - price_chg_c2o_rollavg) / price_chg_c2o_rollstd 
df_tickers["zscore_o2c"] = (df_tickers["price_chg_o2c"] - price_chg_o2c_rollavg) / price_chg_o2c_rollstd 
df_tickers["zscore_c2c"] = (df_tickers["price_chg_c2c"] - price_chg_c2c_rollavg) / price_chg_c2c_rollstd 

# Preview. 
df_tickers

,date,open,high,low,close,volume,dividends,stock splits,ticker,vix_open,vix_close,vix_open_minus_thresh,vix_close_minus_thresh,price_chg_c2o,price_chg_o2c,price_chg_c2c,volume_rollmed,volume_diff_to_med,volume_pchg_from_med,bo_upper,bo_lower,zscore_bo,zscore_c2o,zscore_o2c,zscore_c2c
0,1998-12-22,12.09,12.09,11.97,12.02,55887,0.0,0.0,XLF,24.05,22.78,6.05,4.78,NaN,-0.005790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1998-12-23,11.97,12.20,11.97,12.20,78784,0.0,0.0,XLF,21.89,20.21,3.89,2.21,-0.004160,0.019215,0.014975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998-12-24,12.20,12.28,12.16,12.28,43824,0.0,0.0,XLF,21.00,21.48,3.00,3.48,0.000000,0.006557,0.006557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1998-12-28,12.27,12.27,12.09,12.12,51948,0.0,0.0,XLF,22.92,23.50,4.92,5.50,-0.000814,-0.012225,-0.013029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1998-12-29,12.13,12.25,11.99,12.25,100819,0.0,0.0,XLF,23.68,22.18,5.68,4.18,0.000825,0.009893,0.010726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51127,2021-12-10,68.52,68.94,68.25,68.61,11701800,0.0,0.0,XLU,21.27,18.69,3.27,0.69,0.004103,0.001313,0.005422,11464750.0,237050.0,0.020676,69.331150,55.284313,1.794644,0.905123,0.133635,0.472675
51128,2021-12-13,68.54,69.79,68.54,69.45,13750000,0.0,0.0,XLU,19.29,20.31,1.29,2.31,-0.001020,0.013277,0.012243,11464750.0,2285250.0,0.199328,69.364439,55.331394,2.024388,-0.420642,1.460222,1.162170
51129,2021-12-14,69.44,69.58,68.71,69.04,17502500,0.0,0.0,XLU,19.67,21.89,1.67,3.89,-0.000144,-0.005760,-0.005904,11547800.0,5954700.0,0.515657,69.398773,55.374097,1.897674,-0.193693,-0.644913,-0.661396
51130,2021-12-15,68.96,70.23,68.96,70.17,22682300,0.0,0.0,XLU,21.60,19.29,3.60,1.29,-0.001159,0.017546,0.016367,11639400.0,11042900.0,0.948752,69.444446,55.407369,2.206754,-0.455293,1.923979,1.572349
51131,2021-12-16,70.10,70.95,70.04,70.53,15104600,0.0,0.0,XLU,18.56,20.57,0.56,2.57,-0.000998,0.006134,0.005130,11746100.0,3358500.0,0.285925,69.501687,55.431868,2.292346,-0.408974,0.661689,0.442583

## Mark The Dates For Each Event.

In [15]:
# Assign 1 if economic report occurred on that date, else 0. 
for event_name in df_event_dates.columns: 
	# Default to 0. 
	df_tickers[event_name] = 0 

	# Filter non economic report dates and assign 1. 
	boo_dates = df_tickers["date"].isin(df_event_dates[event_name].values) 
	df_tickers.loc[boo_dates, event_name] = 1 

# Preview. 
df_tickers

,date,open,high,low,close,volume,dividends,stock splits,ticker,vix_open,vix_close,vix_open_minus_thresh,vix_close_minus_thresh,price_chg_c2o,price_chg_o2c,price_chg_c2c,volume_rollmed,volume_diff_to_med,volume_pchg_from_med,bo_upper,bo_lower,zscore_bo,zscore_c2o,zscore_o2c,zscore_c2c,black_friday,christmas,columbus,cyber_monday,good_friday,labor,martin_lut_king,new_year,thanksgiving,us_event_sep11,us_independence,us_memorial,us_president,us_veterans,valentine,firsttrdrday_ofmonth,santa_rally,tww_trdrday
0,1998-12-22,12.09,12.09,11.97,12.02,55887,0.0,0.0,XLF,24.05,22.78,6.05,4.78,NaN,-0.005790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1998-12-23,11.97,12.20,11.97,12.20,78784,0.0,0.0,XLF,21.89,20.21,3.89,2.21,-0.004160,0.019215,0.014975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,1998-12-24,12.20,12.28,12.16,12.28,43824,0.0,0.0,XLF,21.00,21.48,3.00,3.48,0.000000,0.006557,0.006557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
3,1998-12-28,12.27,12.27,12.09,12.12,51948,0.0,0.0,XLF,22.92,23.50,4.92,5.50,-0.000814,-0.012225,-0.013029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
4,1998-12-29,12.13,12.25,11.99,12.25,100819,0.0,0.0,XLF,23.68,22.18,5.68,4.18,0.000825,0.009893,0.010726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51127,2021-12-10,68.52,68.94,68.25,68.61,11701800,0.0,0.0,XLU,21.27,18.69,3.27,0.69,0.004103,0.001313,0.005422,11464750.0,237050.0,0.020676,69.331150,55.284313,1.794644,0.905123,0.133635,0.472675,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51128,2021-12-13,68.54,69.79,68.54,69.45,13750000,0.0,0.0,XLU,19.29,20.31,1.29,2.31,-0.001020,0.013277,0.012243,11464750.0,2285250.0,0.199328,69.364439,55.331394,2.024388,-0.420642,1.460222,1.162170,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51129,2021-12-14,69.44,69.58,68.71,69.04,17502500,0.0,0.0,XLU,19.67,21.89,1.67,3.89,-0.000144,-0.005760,-0.005904,11547800.0,5954700.0,0.515657,69.398773,55.374097,1.897674,-0.193693,-0.644913,-0.661396,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51130,2021-12-15,68.96,70.23,68.96,70.17,22682300,0.0,0.0,XLU,21.60,19.29,3.60,1.29,-0.001159,0.017546,0.016367,11639400.0,11042900.0,0.948752,69.444446,55.407369,2.206754,-0.455293,1.923979,1.572349,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
51131,2021-12-16,70.10,70.95,70.04,70.53,15104600,0.0,0.0,XLU,18.56,20.57,0.56,2.57,-0.000998,0.006134,0.005130,11746100.0,3358500.0,0.285925,69.501687,55.431868,2.292346,-0.408974,0.661689,0.442583,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

## Mark The Dates For Economic Report.

In [16]:
# Assign 1 if economic report occurred on that date, else 0. 
for econ_name in df_econ_reportdate.columns: 
	# Default to 0. 
	df_tickers[econ_name] = 0 

	# Filter non economic report dates and assign 1. 
	boo_dates = df_tickers["date"].isin(df_econ_reportdate[econ_name].values) 
	df_tickers.loc[boo_dates, econ_name] = 1 

# Preview. 
df_tickers

,date,open,high,low,close,volume,dividends,stock splits,ticker,vix_open,vix_close,vix_open_minus_thresh,vix_close_minus_thresh,price_chg_c2o,price_chg_o2c,price_chg_c2c,volume_rollmed,volume_diff_to_med,volume_pchg_from_med,bo_upper,bo_lower,zscore_bo,zscore_c2o,zscore_o2c,zscore_c2c,...,chicago_pmi,industry_production_mom,phil_fed_manufacturer,capacity_utilisation,manufacturer_new_order_mom,manufacturer_new_order_ex_trans_mom,retail_sales_ex_auto_mom,retail_sales_mom,producer_ppi_mom,producer_ppi_ex_food_energy_mom,consumer_cpi_mom,consumer_cpi_ex_food_energy_mom,pce_ex_food_energy_mom,housing_hpi_mom,building_permit,housing_starts,new_home_sales,gdp_us,gdp_advance_us,crude_oil_inventory,natural_gas_inventory,fomc_presscf,fomc_minutes,opec,opec_jmmc
0,1998-12-22,12.09,12.09,11.97,12.02,55887,0.0,0.0,XLF,24.05,22.78,6.05,4.78,NaN,-0.005790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1998-12-23,11.97,12.20,11.97,12.20,78784,0.0,0.0,XLF,21.89,20.21,3.89,2.21,-0.004160,0.019215,0.014975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1998-12-24,12.20,12.28,12.16,12.28,43824,0.0,0.0,XLF,21.00,21.48,3.00,3.48,0.000000,0.006557,0.006557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1998-12-28,12.27,12.27,12.09,12.12,51948,0.0,0.0,XLF,22.92,23.50,4.92,5.50,-0.000814,-0.012225,-0.013029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1998-12-29,12.13,12.25,11.99,12.25,100819,0.0,0.0,XLF,23.68,22.18,5.68,4.18,0.000825,0.009893,0.010726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51127,2021-12-10,68.52,68.94,68.25,68.61,11701800,0.0,0.0,XLU,21.27,18.69,3.27,0.69,0.004103,0.001313,0.005422,11464750.0,237050.0,0.020676,69.331150,55.284313,1.794644,0.905123,0.133635,0.472675,...,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
51128,2021-12-13,68.54,69.79,68.54,69.45,13750000,0.0,0.0,XLU,19.29,20.31,1.29,2.31,-0.001020,0.013277,0.012243,11464750.0,2285250.0,0.199328,69.364439,55.331394,2.024388,-0.420642,1.460222,1.162170,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51129,2021-12-14,69.44,69.58,68.71,69.04,17502500,0.0,0.0,XLU,19.67,21.89,1.67,3.89,-0.000144,-0.005760,-0.005904,11547800.0,5954700.0,0.515657,69.398773,55.374097,1.897674,-0.193693,-0.644913,-0.661396,...,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51130,2021-12-15,68.96,70.23,68.96,70.17,22682300,0.0,0.0,XLU,21.60,19.29,3.60,1.29,-0.001159,0.017546,0.016367,11639400.0,11042900.0,0.948752,69.444446,55.407369,2.206754,-0.455293,1.923979,1.572349,...,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
51131,2021-12-16,70.10,70.95,70.04,70.53,15104600,0.0,0.0,XLU,18.56,20.57,0.56,2.57,-0.000998,0.006134,0.005130,11746100.0,3358500.0,0.285925,69.501687,55.431868,2.292346,-0.408974,0.661689,0.442583,...,0,1,1,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0

## Save Processed Data.

In [17]:
# Save the dataframe into CSV. 
filepath = os.path.join(DATASET_DIR, "sector_price_history_processed_stg_2.csv") 
df_tickers.to_csv(filepath, index=False)

# Processing News Data.

## Preprocessing Date Str.

In [18]:
# Remove the time part since we can't manipulate or do anything with it. 
df_news_headlines["date"] = df_news_headlines["date"].str[:-9]

# Preview. 
df_news_headlines

,headline,publisher,date
0,Agilent Technologies Announces Pricing of $5â€¦â€¦ Million of Senior Notes,GuruFocus,2020-06-01
1,Agilent (A) Gears Up for Q2 Earnings: What's in the Cards?,Zacks,2020-05-18
2,J.P. Morgan Asset Management Announces Liquidation of Six Exchange-Traded Funds,GuruFocus,2020-05-15
3,"Pershing Square Capital Management, L.P. Buys Agilent Technologies Inc, The Howard Hughes Corp, ...",GuruFocus,2020-05-15
4,Agilent Awards Trilogy Sciences with a Golden Ticket at LabCentral,GuruFocus,2020-05-12
...,...,...,...
1845554,Consumer Cyclical Sector Wrap,webmaster,2012-08-20
1845555,Consumer Cyclical Sector Wrap,webmaster,2012-07-23
1845556,Zacks #5 Rank Additions for Monday - Tale of the Tape,Zacks,2012-04-23
1845557,4 Stock Strategies From Wall Street: Feb. 9 (Update 1),TheStreet.Com,2012-02-09
1845558,4 Stock Strategies From Wall Street: Feb. 9,webmaster,2012-02-09

## Extract Keywords.

In [19]:
# Identify the list of keywords. We can add as many relevant keywords here as we want. 
keywords = [
	"earnings", 
	"fed", "ffr", "fed fund", "interest rate", "rate hikes", 
]

# Combine the keywords into a regex pattern. 
re_pattern = f"""({"|".join(keywords)})""" 

# Extract the keywords based the regex patterns and indicate the occurance with binary value. 
keywords = df_news_headlines.loc[:, "headline"].str.extract(re_pattern, expand=True, flags=re.IGNORECASE)  

# Preview. Will take around 15Â± seconds. 
keywords

                0
0             NaN
1        Earnings
2             NaN
3             NaN
4             NaN
...           ...
1845554       NaN
1845555       NaN
1845556       NaN
1845557       NaN
1845558       NaN

[1845559 rows x 1 columns]

## Create Dummy Variables.

In [20]:
# Rename the column name. 
keywords.columns = ["keywords"] 

# Convert str into lowercase to avoid duplicates. 
keywords["keywords"] = keywords["keywords"].str.lower() 

# Map similar keywords into a single keyword. 
# Example (FFR) and (Fed Fund) share the same meaning, hence 
# (Fed Fund) should be converted to (FFR) and counted as a 
# single keyword to avoid duplicates. 
keyword_mapping = {
	"ffr": ["fed fund", "ffr"], 
	"fed": ["federal", "fed reserve", "federal reserve"], 
	"earnings": ["earnings"], 
	"interest_rate": ["interest rate"], 
	"rate_hikes": ['rate hikes'] 
}
keyword_mapping = {t: k for k, terms in keyword_mapping.items() for t in terms} 
keywords["keywords_norm"] = keywords["keywords"].map(keyword_mapping, na_action="ignore") 

# Preview. 
keywords

         keywords keywords_norm
0             NaN           NaN
1        earnings      earnings
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN
...           ...           ...
1845554       NaN           NaN
1845555       NaN           NaN
1845556       NaN           NaN
1845557       NaN           NaN
1845558       NaN           NaN

[1845559 rows x 2 columns]

In [21]:
# Convert into dummay variables. 
keywords_dummies = pd.get_dummies(keywords["keywords_norm"])

# Merge (keywords) series with the (df_news_headlines) dataframe. 
# And remove (headline) and (publisher) columns. 
df_headline_keywords = df_news_headlines \
	.merge(right=keywords_dummies, how="left", left_index=True, right_index=True) \
	.iloc[:, 2:] 

# Preview. 
df_headline_keywords

               date  earnings  ffr  interest_rate  rate_hikes
0        2020-06-01         0    0              0           0
1        2020-05-18         1    0              0           0
2        2020-05-15         0    0              0           0
3        2020-05-15         0    0              0           0
4        2020-05-12         0    0              0           0
...             ...       ...  ...            ...         ...
1845554  2012-08-20         0    0              0           0
1845555  2012-07-23         0    0              0           0
1845556  2012-04-23         0    0              0           0
1845557  2012-02-09         0    0              0           0
1845558  2012-02-09         0    0              0           0

[1845559 rows x 5 columns]

## Convert To Wide Table. 

Alternative method to "Create Dummy Variables" by mapping occuring dates to each factors if we are only interested in capturing the dates.

In [22]:
# Merge (keywords) series with the (df_news_headlines) dataframe. 
df_headline_keywords = df_news_headlines.merge(right=keywords["keywords_norm"], how="left", left_index=True, right_index=True) 

# Convert into long table. 
df_headline_keywords = df_headline_keywords \
	.pivot(columns="keywords_norm", values="date") \
	.iloc[:, 1:] \
	.dropna(how="all") 

# Preview. 
df_headline_keywords

keywords_norm    earnings  ffr interest_rate rate_hikes
1              2020-05-18  NaN           NaN        NaN
6              2020-05-07  NaN           NaN        NaN
27             2020-03-19  NaN           NaN        NaN
36             2020-02-19  NaN           NaN        NaN
38             2020-02-18  NaN           NaN        NaN
...                   ...  ...           ...        ...
1845533        2016-04-15  NaN           NaN        NaN
1845534        2016-04-15  NaN           NaN        NaN
1845536        2015-12-09  NaN           NaN        NaN
1845538        2015-08-19  NaN           NaN        NaN
1845540        2015-04-17  NaN           NaN        NaN

[232687 rows x 4 columns]

## Mark The Dates For News Occuring Dates.

In [23]:
# Assign 1 if news occurred on that date, else 0. 
for keyword in df_headline_keywords.columns: 
	# Default to 0. 
	df_tickers[keyword] = 0 

	# Filter non economic report dates and assign 1. 
	boo_dates = df_tickers["date"].isin(df_headline_keywords[keyword].values) 
	df_tickers.loc[boo_dates, keyword] = 1 

# Preview. 
df_tickers

,date,open,high,low,close,volume,dividends,stock splits,ticker,vix_open,vix_close,vix_open_minus_thresh,vix_close_minus_thresh,price_chg_c2o,price_chg_o2c,price_chg_c2c,volume_rollmed,volume_diff_to_med,volume_pchg_from_med,bo_upper,bo_lower,zscore_bo,zscore_c2o,zscore_o2c,zscore_c2c,...,manufacturer_new_order_mom,manufacturer_new_order_ex_trans_mom,retail_sales_ex_auto_mom,retail_sales_mom,producer_ppi_mom,producer_ppi_ex_food_energy_mom,consumer_cpi_mom,consumer_cpi_ex_food_energy_mom,pce_ex_food_energy_mom,housing_hpi_mom,building_permit,housing_starts,new_home_sales,gdp_us,gdp_advance_us,crude_oil_inventory,natural_gas_inventory,fomc_presscf,fomc_minutes,opec,opec_jmmc,earnings,ffr,interest_rate,rate_hikes
0,1998-12-22,12.09,12.09,11.97,12.02,55887,0.0,0.0,XLF,24.05,22.78,6.05,4.78,NaN,-0.005790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1998-12-23,11.97,12.20,11.97,12.20,78784,0.0,0.0,XLF,21.89,20.21,3.89,2.21,-0.004160,0.019215,0.014975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1998-12-24,12.20,12.28,12.16,12.28,43824,0.0,0.0,XLF,21.00,21.48,3.00,3.48,0.000000,0.006557,0.006557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1998-12-28,12.27,12.27,12.09,12.12,51948,0.0,0.0,XLF,22.92,23.50,4.92,5.50,-0.000814,-0.012225,-0.013029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1998-12-29,12.13,12.25,11.99,12.25,100819,0.0,0.0,XLF,23.68,22.18,5.68,4.18,0.000825,0.009893,0.010726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51127,2021-12-10,68.52,68.94,68.25,68.61,11701800,0.0,0.0,XLU,21.27,18.69,3.27,0.69,0.004103,0.001313,0.005422,11464750.0,237050.0,0.020676,69.331150,55.284313,1.794644,0.905123,0.133635,0.472675,...,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51128,2021-12-13,68.54,69.79,68.54,69.45,13750000,0.0,0.0,XLU,19.29,20.31,1.29,2.31,-0.001020,0.013277,0.012243,11464750.0,2285250.0,0.199328,69.364439,55.331394,2.024388,-0.420642,1.460222,1.162170,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51129,2021-12-14,69.44,69.58,68.71,69.04,17502500,0.0,0.0,XLU,19.67,21.89,1.67,3.89,-0.000144,-0.005760,-0.005904,11547800.0,5954700.0,0.515657,69.398773,55.374097,1.897674,-0.193693,-0.644913,-0.661396,...,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51130,2021-12-15,68.96,70.23,68.96,70.17,22682300,0.0,0.0,XLU,21.60,19.29,3.60,1.29,-0.001159,0.017546,0.016367,11639400.0,11042900.0,0.948752,69.444446,55.407369,2.206754,-0.455293,1.923979,1.572349,...,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
51131,2021-12-16,70.10,70.95,70.04,70.53,15104600,0.0,0.0,XLU,18.56,20.57,0.56,2.57,-0.000998,0.006134,0.005130,11746100.0,3358500.0,0.285925,69.501687,55.431868,2.292346,-0.408974,0.661689,0.442583,...,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0

In [36]:
# Extract the column names of the news keywords. 
news_keywords = df_headline_keywords.columns.to_list()
news_keywords

['earnings', 'ffr', 'interest_rate', 'rate_hikes']

## Save Processed Data.

In [24]:
# Save the dataframe into CSV. 
filepath = os.path.join(DATASET_DIR, "sector_price_history_processed_stg_3.csv") 
df_tickers.to_csv(filepath, index=False)

# Compute Aggregates.

## Compute The Aggregates.

In [37]:
# Combine the economic report names and event names. This will 
# become our factors we want to analyse on. 
factors = economic_report_names + event_names + news_keywords

# Available metrics to choose from. 
metric_options = [
	"vix_open_minus_thresh", "vix_close_minus_thresh", 
	"price_chg_c2o", "price_chg_o2c", "price_chg_c2c", 
	"volume_diff_to_med", "volume_pchg_from_med", 
	"zscore_bo", "zscore_c2o", "zscore_o2c", "zscore_c2c", 
]

# Define what we want to measure. 
# Options: direction / magnitude / average 
dict_intent_measure = {
	"dir": {
		"price_chg_c2o", "price_chg_o2c", "price_chg_c2c", 
		"volume_pchg_from_med", 
	}, 
	"mag": {
		"price_chg_c2o", "price_chg_o2c", "price_chg_c2c", 
		"zscore_bo", "zscore_c2o", "zscore_o2c", "zscore_c2c", 
	},  
	"avg": {
		"vix_open_minus_thresh", "vix_close_minus_thresh", 
	}, 
}

# An empty dataframe to consolidate all the aggregates for 
# different metrics. 
df_consolidated_agg = pd.DataFrame() 

# To store the ticker and factor values. 
arr_tickers, arr_factors = [], [] 

# Start consolidating the aggregates. This will take a while. 
for intent_measure, metrics in dict_intent_measure.items(): 

	# Define what we want to measure. 
	for metric in metrics: 

		# Define whether to measure the event or non-occuring event period. 
		for measure_event_period in [0, 1]: 

			# Define the variable to assign as the pivot value. 
			pivot_value = metric

			# Define the aggregate function. 
			aggfunc = np.mean

			# Define the name for the aggregated value. 
			aggvalue_name = metric

			# Define the positive threshold for probability count. 
			prob_threshold = 0  

			# An empty dataframe to consolidate all the pivot tables. 
			df_aggregates = pd.DataFrame() 

			# Consolidate all the pivot tables. 
			for factor in factors: 
				# Remove event or non-occuring event period (either 1 or 0) for that factor. 
				df_processed = df_tickers.loc[df_tickers[factor] == measure_event_period, :] 

				# Convert all negative to positive unless we are looking to measure 
				# the directional probability or distance from the threshold. 
				if intent_measure == "mag": 
					df_processed.loc[:, pivot_value] = df_processed.loc[:, pivot_value].abs() 

				# To compute directional probabilities, we need to conver the negatives to 0 
				# and positives to 1 before aggregating it with the mean. 
				if intent_measure == "dir": 
					df_processed.loc[df_processed[pivot_value] <= prob_threshold, pivot_value] = 0 
					df_processed.loc[df_processed[pivot_value] >  prob_threshold, pivot_value] = 1 

				# Convert to pivot table. Average the value across entire the timeframe. 
				df_pivottable = df_processed.pivot_table(values=pivot_value, index="ticker", columns=factor, aggfunc=aggfunc) 

				# Rename the column heading. 
				df_pivottable.columns.name = "factor" 

				# Rename the column. There should be only 1 colume in this case. 
				# The original column name will either be 0 or 1. 
				df_pivottable.columns = [factor] 

				# Combine all the pivot tables into a single dataframe. 
				df_aggregates = pd.concat([df_aggregates, df_pivottable], axis="columns") 

			# Convert into long table. 
			df_aggregates = df_aggregates \
				.reset_index(drop=False) \
				.melt(id_vars="ticker", var_name="factor", value_vars=df_aggregates.columns, value_name=aggvalue_name) 

			# Rename the metric name. Example (zscore_c2c) will be (zscore_c2c_mag) or 
			# (price_chg_c2o) will be (price_chg_c2o_dir). 
			metric_newname = f"{metric}_{intent_measure}_{measure_event_period}" 
			df_aggregates = df_aggregates.rename(mapper={metric: metric_newname}, axis="columns") 

			# Combine all the pivot tables into a single dataframe. 
			df_consolidated_agg = pd.concat([df_consolidated_agg, df_aggregates[[metric_newname]]], axis="columns") 

			if not arr_tickers and not arr_factors: 
				arr_tickers = df_aggregates["ticker"].to_list() 
				arr_factors = df_aggregates["factor"].to_list() 

		if intent_measure == "mag": 
			# Compute the value difference between occurring event and non-occuring event. 
			df_consolidated_agg[f"{metric}_{intent_measure}_diff"] = \
				df_consolidated_agg[f"{metric}_{intent_measure}_1"] - df_consolidated_agg[f"{metric}_{intent_measure}_0"] 

		# For clearing the warning output. The warning is not important. 
		clear_output() 

# Add new columns for tickers and factors. 
df_consolidated_agg["ticker"] = arr_tickers 
df_consolidated_agg["factor"] = arr_factors 

# Rearragne the columns. 
cols = ["ticker", "factor"] + df_consolidated_agg.columns[:-2].to_list() 
df_consolidated_agg = df_consolidated_agg[cols] 

# Preview. 
df_consolidated_agg

,ticker,factor,price_chg_o2c_dir_0,price_chg_o2c_dir_1,price_chg_c2c_dir_0,price_chg_c2c_dir_1,price_chg_c2o_dir_0,price_chg_c2o_dir_1,volume_pchg_from_med_dir_0,volume_pchg_from_med_dir_1,price_chg_o2c_mag_0,price_chg_o2c_mag_1,price_chg_o2c_mag_diff,zscore_c2c_mag_0,zscore_c2c_mag_1,zscore_c2c_mag_diff,price_chg_c2o_mag_0,price_chg_c2o_mag_1,price_chg_c2o_mag_diff,zscore_bo_mag_0,zscore_bo_mag_1,zscore_bo_mag_diff,zscore_c2o_mag_0,zscore_c2o_mag_1,zscore_c2o_mag_diff,price_chg_c2c_mag_0,price_chg_c2c_mag_1,price_chg_c2c_mag_diff,zscore_o2c_mag_0,zscore_o2c_mag_1,zscore_o2c_mag_diff,vix_open_minus_thresh_avg_0,vix_open_minus_thresh_avg_1,vix_close_minus_thresh_avg_0,vix_close_minus_thresh_avg_1
0,XHB,non_farm_employment_adp_mom,0.492529,0.444444,0.508781,0.488889,0.535780,0.533333,0.490957,0.516667,0.012348,0.012444,0.000096,0.764711,0.738538,-0.026173,0.006583,0.006504,-0.000080,1.255128,1.243852,-0.011276,0.715539,0.747111,0.031571,0.013974,0.013797,-0.000178,0.769066,0.750701,-0.018365,1.659612,1.995000,1.542021,1.832556
1,XLB,non_farm_employment_adp_mom,0.494023,0.561111,0.518822,0.572222,0.531133,0.522222,0.497770,0.605556,0.008965,0.008402,-0.000563,0.717752,0.766608,0.048855,0.005706,0.005966,0.000260,1.295208,1.292379,-0.002830,0.678460,0.764396,0.085936,0.010891,0.010866,-0.000025,0.756872,0.729776,-0.027096,2.275611,1.995000,2.149704,1.832556
2,XLF,non_farm_employment_adp_mom,0.489741,0.511111,0.504818,0.555556,0.512491,0.555556,0.509971,0.577778,0.009676,0.009440,-0.000236,0.745262,0.709370,-0.035891,0.006625,0.006802,0.000178,1.275828,1.279723,0.003895,0.694583,0.719826,0.025243,0.011703,0.011639,-0.000064,0.743641,0.688909,-0.054732,2.275611,1.995000,2.149704,1.832556
3,XLI,non_farm_employment_adp_mom,0.505798,0.516667,0.531490,0.555556,0.528635,0.522222,0.523640,0.633333,0.007803,0.007593,-0.000210,0.708793,0.738861,0.030068,0.005676,0.005794,0.000118,1.334997,1.332461,-0.002537,0.690387,0.797388,0.107001,0.009481,0.009344,-0.000137,0.733489,0.747496,0.014006,2.275611,1.995000,2.149704,1.832556
4,XLK,non_farm_employment_adp_mom,0.508831,0.511111,0.532560,0.611111,0.538091,0.583333,0.507047,0.616667,0.009302,0.006952,-0.002349,0.716393,0.698821,-0.017572,0.006533,0.006005,-0.000527,1.392159,1.517717,0.125558,0.672435,0.774740,0.102305,0.011204,0.009076,-0.002128,0.751940,0.676044,-0.075896,2.275611,1.995000,2.149704,1.832556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,XLP,rate_hikes,0.503678,0.560000,0.515587,0.573333,0.510333,0.386667,0.516813,0.546667,0.006058,0.005443,-0.000615,0.701860,0.828096,0.126236,0.003990,0.002529,-0.001461,1.387608,1.367976,-0.019633,0.657921,0.718579,0.060658,0.006935,0.005999,-0.000935,0.743171,0.866429,0.123259,2.325862,-2.223600,2.200977,-2.515067
556,XLU,rate_hikes,0.490193,0.573333,0.527496,0.520000,0.535727,0.413333,0.528371,0.546667,0.007625,0.007978,0.000353,0.708533,1.027737,0.319205,0.004142,0.002870,-0.001271,1.370751,1.210122,-0.160629,0.652314,0.901309,0.248995,0.008515,0.009005,0.000490,0.742199,0.982377,0.240178,2.325862,-2.223600,2.200977,-2.515067
557,XLY,rate_hikes,0.519965,0.533333,0.527496,0.546667,0.531349,0.506667,0.511384,0.546667,0.008170,0.005995,-0.002176,0.715318,0.790838,0.075520,0.005635,0.003871,-0.001764,1.382651,1.649381,0.266730,0.665656,0.787563,0.121907,0.009865,0.007051,-0.002815,0.752506,0.803860,0.051355,2.325862,-2.223600,2.200977,-2.515067
558,XRT,rate_hikes,0.497516,0.546667,0.521569,0.493333,0.539608,0.413333,0.492549,0.533333,0.010162,0.008563,-0.001599,0.726530,0.875827,0.149297,0.006248,0.004955,-0.001293,1.374070,1.281885,-0.092185,0.669481,0.845428,0.175947,0.012064,0.010088,-0.001977,0.796798,0.829166,0.032369,1.905950,-2.223600,1.786750,-2.515067
559,XTL,rate_hikes,0.438156,0.527027,0.502249,0.648649,0.523988,0.540541,0.473388,0.500000,0.006616,0.006482,-0.000134,0.705794,0.605099,-0.100695,0.007387,0.005225,-0.002162,1.251238,1.505111,0.253873,0.636223,0.635613,-0.000609,0.009555,0.006522,-0.003033,0.671287,0.751139,0.079852,-0.106938,-2.257162,-0.209318,-2.544595

## Save The Aggregates.

In [26]:
# Save the dataframe into CSV. 
filepath = os.path.join(DATASET_DIR, "sector_metrics_aggregate.csv") 
df_consolidated_agg.to_csv(filepath, index=False)

## Identify Convergence Across Different Metrics.

In [38]:
regex_pats_n_conditions = {
	"_dir_\\d" : 0.7,
	"_mag_\\d" : 0.9, 
	"_avg_\\d" : 2.0, 
}

# Process on the copy instead of the original dataframe. 
df_identify_convergence = df_consolidated_agg.copy() 

# Gather matched column names. 
cols = ["ticker", "factor"] 

# Identify convergence. If all the required conditions for 
# specific metrics are fulfilled, we will assume convergence. 
for regex_pat, condition in regex_pats_n_conditions.items(): 
	# Get the columns that matches the regex. 
	cols_matched = [c for c in df_identify_convergence.columns if re.match(f"\\w+{regex_pat}", c)] 
	cols.extend(cols_matched) 

	for c in cols_matched: 
		if regex_pat in ["_mag_\\d", "_avg_\\d"]: 
			df_identify_convergence.loc[df_identify_convergence[c] <  condition, c] = 0 
			df_identify_convergence.loc[df_identify_convergence[c] >= condition, c] = 1 

		elif regex_pat == "_dir_\\d": 
			boo_neutral = (df_identify_convergence[c] >= (1 - condition)) & (df_identify_convergence[c] <= condition)
			df_identify_convergence.loc[boo_neutral, c] = 0 
			df_identify_convergence.loc[df_identify_convergence[c] <= (1 - condition), c] = 1 
			df_identify_convergence.loc[df_identify_convergence[c] >= condition, c] = 1 

# Filter columns. 
df_identify_convergence = df_identify_convergence[cols] 

# Preview. 
df_identify_convergence

,ticker,factor,price_chg_o2c_dir_0,price_chg_o2c_dir_1,price_chg_c2c_dir_0,price_chg_c2c_dir_1,price_chg_c2o_dir_0,price_chg_c2o_dir_1,volume_pchg_from_med_dir_0,volume_pchg_from_med_dir_1,price_chg_o2c_mag_0,price_chg_o2c_mag_1,zscore_c2c_mag_0,zscore_c2c_mag_1,price_chg_c2o_mag_0,price_chg_c2o_mag_1,zscore_bo_mag_0,zscore_bo_mag_1,zscore_c2o_mag_0,zscore_c2o_mag_1,price_chg_c2c_mag_0,price_chg_c2c_mag_1,zscore_o2c_mag_0,zscore_o2c_mag_1,vix_open_minus_thresh_avg_0,vix_open_minus_thresh_avg_1,vix_close_minus_thresh_avg_0,vix_close_minus_thresh_avg_1
0,XHB,non_farm_employment_adp_mom,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,XLB,non_farm_employment_adp_mom,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,XLF,non_farm_employment_adp_mom,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,XLI,non_farm_employment_adp_mom,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,XLK,non_farm_employment_adp_mom,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,XLP,rate_hikes,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
556,XLU,rate_hikes,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
557,XLY,rate_hikes,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
558,XRT,rate_hikes,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
559,XTL,rate_hikes,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
cols = [
	"ticker", "factor", 
	"zscore_c2o_mag_1", "zscore_c2c_mag_1", "zscore_bo_mag_1", 
	"price_chg_c2o_dir_1", "price_chg_c2c_dir_1", "volume_pchg_from_med_dir_1", 
	"vix_close_minus_thresh_avg_1" 
]

# Set the conditions for identifying convergence. 
boo_conditions = \
	(df_identify_convergence["zscore_c2c_mag_1"] == 1.0) & \
	(df_identify_convergence["volume_pchg_from_med_dir_1"] == 1.0) 

# Preview. 
df_identify_convergence.loc[boo_conditions, cols]

,ticker,factor,zscore_c2o_mag_1,zscore_c2c_mag_1,zscore_bo_mag_1,price_chg_c2o_dir_1,price_chg_c2c_dir_1,volume_pchg_from_med_dir_1,vix_close_minus_thresh_avg_1
71,XLB,ism_pmi_manufacturer,0.0,1.0,1.0,1.0,1.0,1.0,1.0
73,XLI,ism_pmi_manufacturer,0.0,1.0,1.0,1.0,1.0,1.0,1.0
275,XLP,gdp_advance_us,0.0,1.0,1.0,1.0,1.0,1.0,0.0
300,XHB,fomc_presscf,0.0,1.0,1.0,1.0,1.0,1.0,0.0
301,XLB,fomc_presscf,1.0,1.0,1.0,1.0,1.0,1.0,0.0
302,XLF,fomc_presscf,1.0,1.0,1.0,1.0,1.0,1.0,0.0
303,XLI,fomc_presscf,1.0,1.0,1.0,1.0,1.0,1.0,0.0
304,XLK,fomc_presscf,1.0,1.0,1.0,1.0,1.0,1.0,0.0
305,XLP,fomc_presscf,1.0,1.0,1.0,1.0,1.0,1.0,0.0
306,XLU,fomc_presscf,0.0,1.0,1.0,1.0,1.0,1.0,0.0
307,XLY,fomc_presscf,0.0,1.0,1.0,1.0,1.0,1.0,0.0
308,XRT,fomc_presscf,0.0,1.0,1.0,1.0,1.0,1.0,0.0
309,XTL,fomc_presscf,0.0,1.0,1.0,1.0,1.0,1.0,0.0
321,XLB,opec,1.0,1.0,1.0,1.0,1.0,1.0,1.0
322,XLF,opec,1.0,1.0,1.0,1.0,1.0,1.0,1.0
324,XLK,opec,1.0,1.0,1.0,1.0,1.0,1.0,1.0
325,XLP,opec,0.0,1.0,1.0,1.0,1.0,1.0,1.0
326,XLU,opec,1.0,1.0,1.0,1.0,1.0,1.0,1.0
556,XLU,rate_hikes,1.0,1.0,1.0,1.0,1.0,1.0,0.0

# Visualise Aggregates.

## Visualise The Aggregates.

In [40]:
import altair as alt 

# Configureation for text formatting. 
format_text = ".1f"

# Configuration for scale range limit. 
scale_range_lim = [0, 0.5] 

# Define the columns you want to visualise.
cols_to_vis = ["ticker", "factor", "zscore_c2c_mag_diff"] 

# Base encoding. 
base = alt.Chart(df_consolidated_agg[cols_to_vis]) \
    .encode(
        x=alt.X(
			"factor:N", 
			axis=alt.Axis(title="factor", titleFontSize=14, labelFontSize=10), 
		), 
        y=alt.Y(
            "ticker:N", 
            axis=alt.Axis(title="factor", titleFontSize=14, labelFontSize=10), 
        ),
        tooltip=[
            alt.Tooltip(f"{cols_to_vis[-1]}:Q", title=cols_to_vis[-1], format=format_text), 
        ], 
    ) \
    .properties(height=350, width=1300) 

# Visualisation approach. 
heatmap = base.mark_rect(opacity=1) \
    .encode(
        color=alt.Color(
            f"{cols_to_vis[-1]}:Q", 
			scale=alt.Scale(domain=scale_range_lim, scheme="goldred", reverse=False),
            legend=alt.Legend(direction="vertical"), 
        )
	) 

# Annotation. 
text = base \
    .mark_text(baseline="middle") \
    .encode(text=alt.Text(f"{cols_to_vis[-1]}:Q", format=format_text)) 

# Visualise the plot. 
(heatmap + text).interactive()

alt.LayerChart(...)

# Not Important. Just For Reference / Exploration.

## Mark The Dates For Each Event (With Python).

In [30]:
from pandas.tseries.holiday import (
    AbstractHolidayCalendar, Holiday, FR, SA, nearest_workday, 
    USMartinLutherKingJr, USPresidentsDay, GoodFriday, 
    USMemorialDay, USLaborDay, USColumbusDay, USThanksgivingDay
)


class TradingEvents(AbstractHolidayCalendar):
    rules = [
        Holiday("new_year", month=1, day=1, observance=None),
        USMartinLutherKingJr,
        Holiday("valentine", month=2, day=14, observance=None),
        USPresidentsDay,
        GoodFriday,
        USMemorialDay,
        Holiday("us_independence", month=7, day=4, observance=None),
        USLaborDay,
        USColumbusDay,
        Holiday("us_veterans", month=11, day=11, observance=None),
        USThanksgivingDay,
        Holiday("black_friday", month=11, day=1, offset=pd.DateOffset(weekday=FR(4))), 
        Holiday("cyber_monday", month=11, day=1, offset=[pd.DateOffset(weekday=SA(4)), pd.DateOffset(2)]), 
        Holiday("christmas", month=12, day=25, observance=None), 
    ]


def get_trading_event_dates(year:int):
    '''
    Purpose: 
        Identify dates for all events for a specific year. 
    
    Input  :
        year    : Int. The specific year to identify date of the event. 
        
    Return :
        List of dates for all the events for a specific year. 
    '''
    
    inst = TradingEvents() 
    return inst.holidays(dt.datetime(year, 1, 1), dt.datetime(year, 12, 31)) 


def consolidate_trading_event_dates(yr_start:int, yr_end:int): 
    '''
    Purpose: 
        Consolidate dates for all the events within the specified years. 
    
    Input  :
        yr_start    : Int. Starting year.
        yr_end      : Int. Ending year. 
        
    Return :
        Dateframe containing all the event dates. 
    '''

    event_names = [
        "new_year", "martin_lut_king", "valentine", "us_president", 
        "good_friday", "us_memorial", "us_independence", "labor", 
        "columbus", "us_veterans", "thanksgiving", "black_friday", 
        "cyber_monday", "christmas", 
    ]
    
    # Compile the dates into a list of list.
    generated_dates = [get_trading_event_dates(year) for year in range(yr_start, yr_end + 1, 1)] 
    return pd.DataFrame(generated_dates, columns=event_names) 


# Preview. 
consolidate_trading_event_dates(1998, 2021)

,new_year,martin_lut_king,valentine,us_president,good_friday,us_memorial,us_independence,labor,columbus,us_veterans,thanksgiving,black_friday,cyber_monday,christmas
0,1998-01-01,1998-01-19,1998-02-14,1998-02-16,1998-04-10,1998-05-25,1998-07-04,1998-09-07,1998-10-12,1998-11-11,1998-11-26,1998-11-27,1998-11-30,1998-12-25
1,1999-01-01,1999-01-18,1999-02-14,1999-02-15,1999-04-02,1999-05-31,1999-07-04,1999-09-06,1999-10-11,1999-11-11,1999-11-25,1999-11-26,1999-11-29,1999-12-25
2,2000-01-01,2000-01-17,2000-02-14,2000-02-21,2000-04-21,2000-05-29,2000-07-04,2000-09-04,2000-10-09,2000-11-11,2000-11-23,2000-11-24,2000-11-27,2000-12-25
3,2001-01-01,2001-01-15,2001-02-14,2001-02-19,2001-04-13,2001-05-28,2001-07-04,2001-09-03,2001-10-08,2001-11-11,2001-11-22,2001-11-23,2001-11-26,2001-12-25
4,2002-01-01,2002-01-21,2002-02-14,2002-02-18,2002-03-29,2002-05-27,2002-07-04,2002-09-02,2002-10-14,2002-11-11,2002-11-22,2002-11-25,2002-11-28,2002-12-25
5,2003-01-01,2003-01-20,2003-02-14,2003-02-17,2003-04-18,2003-05-26,2003-07-04,2003-09-01,2003-10-13,2003-11-11,2003-11-24,2003-11-27,2003-11-28,2003-12-25
6,2004-01-01,2004-01-19,2004-02-14,2004-02-16,2004-04-09,2004-05-31,2004-07-04,2004-09-06,2004-10-11,2004-11-11,2004-11-25,2004-11-26,2004-11-29,2004-12-25
7,2005-01-01,2005-01-17,2005-02-14,2005-02-21,2005-03-25,2005-05-30,2005-07-04,2005-09-05,2005-10-10,2005-11-11,2005-11-24,2005-11-25,2005-11-28,2005-12-25
8,2006-01-01,2006-01-16,2006-02-14,2006-02-20,2006-04-14,2006-05-29,2006-07-04,2006-09-04,2006-10-09,2006-11-11,2006-11-23,2006-11-24,2006-11-27,2006-12-25
9,2007-01-01,2007-01-15,2007-02-14,2007-02-19,2007-04-06,2007-05-28,2007-07-04,2007-09-03,2007-10-08,2007-11-11,2007-11-22,2007-11-23,2007-11-26,2007-12-25
10,2008-01-01,2008-01-21,2008-02-14,2008-02-18,2008-03-21,2008-05-26,2008-07-04,2008-09-01,2008-10-13,2008-11-11,2008-11-24,2008-11-27,2008-11-28,2008-12-25
11,2009-01-01,2009-01-19,2009-02-14,2009-02-16,2009-04-10,2009-05-25,2009-07-04,2009-09-07,2009-10-12,2009-11-11,2009-11-26,2009-11-27,2009-11-30,2009-12-25
12,2010-01-01,2010-01-18,2010-02-14,2010-02-15,2010-04-02,2010-05-31,2010-07-04,2010-09-06,2010-10-11,2010-11-11,2010-11-25,2010-11-26,2010-11-29,2010-12-25
13,2011-01-01,2011-01-17,2011-02-14,2011-02-21,2011-04-22,2011-05-30,2011-07-04,2011-09-05,2011-10-10,2011-11-11,2011-11-24,2011-11-25,2011-11-28,2011-12-25
14,2012-01-01,2012-01-16,2012-02-14,2012-02-20,2012-04-06,2012-05-28,2012-07-04,2012-09-03,2012-10-08,2012-11-11,2012-11-22,2012-11-23,2012-11-26,2012-12-25
15,2013-01-01,2013-01-21,2013-02-14,2013-02-18,2013-03-29,2013-05-27,2013-07-04,2013-09-02,2013-10-14,2013-11-11,2013-11-22,2013-11-25,2013-11-28,2013-12-25
16,2014-01-01,2014-01-20,2014-02-14,2014-02-17,2014-04-18,2014-05-26,2014-07-04,2014-09-01,2014-10-13,2014-11-11,2014-11-24,2014-11-27,2014-11-28,2014-12-25
17,2015-01-01,2015-01-19,2015-02-14,2015-02-16,2015-04-03,2015-05-25,2015-07-04,2015-09-07,2015-10-12,2015-11-11,2015-11-26,2015-11-27,2015-11-30,2015-12-25
18,2016-01-01,2016-01-18,2016-02-14,2016-02-15,2016-03-25,2016-05-30,2016-07-04,2016-09-05,2016-10-10,2016-11-11,2016-11-24,2016-11-25,2016-11-28,2016-12-25
19,2017-01-01,2017-01-16,2017-02-14,2017-02-20,2017-04-14,2017-05-29,2017-07-04,2017-09-04,2017-10-09,2017-11-11,2017-11-23,2017-11-24,2017-11-27,2017-12-25
20,2018-01-01,2018-01-15,2018-02-14,2018-02-19,2018-03-30,2018-05-28,2018-07-04,2018-09-03,2018-10-08,2018-11-11,2018-11-22,2018-11-23,2018-11-26,2018-12-25
21,2019-01-01,2019-01-21,2019-02-14,2019-02-18,2019-04-19,2019-05-27,2019-07-04,2019-09-02,2019-10-14,2019-11-11,2019-11-22,2019-11-25,2019-11-28,2019-12-25
22,2020-01-01,2020-01-20,2020-02-14,2020-02-17,2020-04-10,2020-05-25,2020-07-04,2020-09-07,2020-10-12,2020-11-11,2020-11-26,2020-11-27,2020-11-30,2020-12-25
23,2021-01-01,2021-01-18,2021-02-14,2021-02-15,2021-04-02,2021-05-31,2021-07-04,2021-09-06,2021-10-11,2021-11-11,2021-11-25,2021-11-26,2021-11-29,2021-12-25